$iosevka-font-path: 'https://iosevka-webfonts.github.io/iosevka';

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Thin.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Thin.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedThin.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedThin.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ThinOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ThinOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ThinOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ThinOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedThinOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedThinOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ThinItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 100;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedThinItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtraLight.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedExtraLight.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtraLightOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtraLightOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedExtraLightOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedExtraLightOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtraLightItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 200;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedExtraLightItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Light.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Light.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedLight.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedLight.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-LightOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-LightOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-LightOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-LightOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedLightOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedLightOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-LightItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 300;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedLightItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Regular.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Extended.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Extended.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Oblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Oblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Oblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Oblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Italic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Italic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 400;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Medium.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedMedium.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedMedium.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-MediumOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-MediumOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-MediumOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-MediumOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedMediumOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedMediumOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-MediumItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 500;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedMediumItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-SemiBold.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedSemiBold.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-SemiBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-SemiBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedSemiBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedSemiBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-SemiBoldItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 600;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedSemiBoldItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Bold.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedBold.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedBold.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-BoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-BoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-BoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-BoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-BoldItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 700;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedBoldItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtraBold.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedExtraBold.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtraBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtraBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedExtraBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedExtraBoldOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtraBoldItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 800;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedExtraBoldItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-Heavy.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedHeavy.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-HeavyOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-HeavyOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-HeavyOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-HeavyOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: oblique;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedHeavyOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
  font-family: 'Iosevka Oblique';
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedHeavyOblique.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-HeavyItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-HeavyItalic.ttf') format('truetype');
}

@font-face {
  font-family: Iosevka;
  font-display: swap;
  font-weight: 900;
  font-stretch: expanded;
  font-style: italic;
  src: url('#{$iosevka-font-path}/WOFF2/Iosevka-ExtendedHeavyItalic.woff2') format('woff2'),
  url('#{$iosevka-font-path}/TTF/Iosevka-ExtendedHeavyItalic.ttf') format('truetype');
}