{{- $respSizes := slice "200" "400" "600" -}}
{{ $alt := or (.Get "alt") (.Get "caption" | markdownify | plainify) (.Get "title" | markdownify | plainify) }}

<figure{{ with .Get "class" }} class="{{ . }}"{{ end }} {{ with .Get "width" }} style="max-width:{{ . }}px"{{ end }}>
  {{- $u := urls.Parse (.Get "src") -}}

  {{- with or (.Page.Resources.Get $u.Path) (resources.Get $u.Path) -}}
    {{- $imgRsc := . -}}
    {{- with $.Get "link" -}}
      <a href="{{ . }}" target="_blank"{{ with $.Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- else -}}
      {{- if gt .Width 4000 -}}
        <a href="{{ ( .Resize "4000x webp photo" ).RelPermalink }}" target="_blank">
      {{- else -}}
        <a href="{{ ( .Process "webp photo" ).RelPermalink }}" target="_blank">
      {{- end -}}
    {{- end -}}
      <picture>
        {{- $imgRsc := . -}}
        {{- range $respSizes -}}
          {{- if ge $imgRsc.Width . -}}
            <source
              type="image/webp"
              media="(max-width: {{ . }}px)"
              srcset="{{- ($imgRsc.Resize (print . "x webp photo") ).RelPermalink -}}"
            >
          {{- end -}}
        {{- end -}}
        {{ with .Resize "800x webp photo" }}
          <img
            src="{{ .RelPermalink }}"
            {{- with $alt }}
              alt="{{ . }}"
            {{- end -}}
            loading="lazy"
            width="{{ .Width }}"
            height="{{ .Height }}"
          >
        {{ end }}
      </picture>
    </a>
  {{- else -}}
    <a href="{{ with .Get "link" }}{{ . }}{{ else }}{{ $u }}{{ end }}" target="_blank"{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
      <img src="{{ $u.String }}"
        {{- with $alt }}
          alt="{{ . }}"
        {{- end -}}
        {{- with .Get "width" }} width="{{ . }}"{{ end -}}
        {{- with .Get "height" }} height="{{ . }}"{{ end -}}
        loading="lazy"
      >
    </a>
  {{- end -}}
  {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
      {{ with (.Get "title") -}}
        <b>{{ . | markdownify }}</b>
      {{- end -}}
      {{- if or (.Get "caption") (.Get "attr") -}}<p>
        {{- with .Get "caption" -}}
          {{ . | markdownify }}
        {{ end }}
        {{ if (.Get "attr") }}<i>Credit:
          {{ with .Get "attrlink" }}
            <a href="{{ . }}" target="_blank">
          {{- end -}}
          {{.Get "attr" | markdownify -}}
          {{- if .Get "attrlink" }}</a>{{ end }}</i></p>
        {{- end }}
      {{- end }}
    </figcaption>
  {{- end }}
</figure>
