@import 'iosevka';
@import 'dark-theme';

body {
--fg-color: #333;
  --bg-color: #fff;
  --subtitle-color: #555;
  --section-sep-color: #aaa;

  --link-color: #b91c1c;
  --link-active-color: #7f1d1d;
  --link-disabled-color: #757575;

  --button-bg-color: #111;
  --button-fg-color: #dadada;
  --button-active-bg-color: #000;
  --button-active-fg-color: #fff;

  --figure-bg-color: #0002;
  --preformatted-bg-color: #0002;
  --preformatted-border-color: #000;
  --sidebar-attribution-color: #777;

  --search-container-bg-color: #eee;
  --search-container-fg-color: #000;
  --search-container-border-color: #000;
  --search-container-sep-color: #c0c0c0;
  --search-container-active-indicator-color: #b91c1c;

  --expander-summary-color: #eee;

  --table-border-color: #000;
  --table-nth-child-bg-color: #ccc;

      --adm-bg: #1d1e20;
    --adm-text: #e6e6e6;
    --adm-code-bg: #313244;
    --adm-code-text: #cdd6f4;
    --adm-blockquote-border: #45475a;
    --adm-header-bg-opacity: .1;
    --adm-abstract: #209fb5;
    --adm-abstract-rgb: 32, 159, 181;
    --adm-caution: #e64553;
    --adm-caution-rgb: 230, 69, 83;
    --adm-code: #7287fd;
    --adm-code-rgb: 114, 135, 253;
    --adm-conclusion: #dd7878;
    --adm-conclusion-rgb: 221, 120, 120;
    --adm-danger: #fe640b;
    --adm-danger-rgb: 254, 100, 11;
    --adm-error: #d20f39;
    --adm-error-rgb: 210, 15, 57;
    --adm-example: #dc8a78;
    --adm-example-rgb: 220, 138, 120;
    --adm-experiment: #51bb2a;
    --adm-experiment-rgb: 81, 187, 42;
    --adm-goal: #e64553;
    --adm-goal-rgb: 230, 69, 83;
    --adm-idea: #df8e1d;
    --adm-idea-rgb: 223, 142, 29;
    --adm-important: #7d4dda;
    --adm-important-rgb: 125, 77, 218;
    --adm-info: #04a5e5;
    --adm-info-rgb: 4, 165, 229;
    --adm-memo: #e64553;
    --adm-memo-rgb: 230, 69, 83;
    --adm-note: #096ae1;
    --adm-note-rgb: 9, 106, 225;
    --adm-notify: #0d48bd;
    --adm-notify-rgb: 13, 72, 189;
    --adm-question: #179299;
    --adm-question-rgb: 23, 146, 153;
    --adm-quote: #7287fd;
    --adm-quote-rgb: 114, 135, 253;
    --adm-success: #40a02b;
    --adm-success-rgb: 64, 160, 43;
    --adm-task: #8839ef;
    --adm-task-rgb: 136, 57, 239;
    --adm-tip: #179299;
    --adm-tip-rgb: 23, 146, 153;
    --adm-warning: #df8e1d;
    --adm-warning-rgb: 223, 142, 29;

  --image-opacity: 0.9;


    color: var(--fg-color);
    background-color: var(--bg-color);

    max-width: 800px;
    margin: 1rem auto 2rem auto;
    padding: 0 0.5rem;
    font-size: 15px;
    line-height: 1.5;
    font-family: iosevka;
}


@media screen and (max-width: 600px) {
    body {
        margin: 1rem auto;
    }
}


mark {
    border-radius: 0.25rem;
    padding: 1px 0.25rem;
}

a,
span.link {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    color: var(--link-color);
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        &:not(.disabled) {
            color: var(--link-active-color);
            text-decoration: underline;
            cursor: pointer;
        }
    }

    &.disabled {
        text-decoration: none;
        color: var(--link-disabled-color);
    }
}

a.btn {
    background-color: var(--button-bg-color);
    color: var(--button-fg-color);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
        color: var(--button-active-fg-color);
        background-color: var(--button-active-bg-color);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    .permalink {
        display: flex;
    }

    &:hover .permalink {
        opacity: 1;
    }
}

@media (hover: hover) and (pointer: fine) {
    .permalink {
        opacity: 0;
    }
}

h1 {
    font-size: 2em;
}

div.article-title {
    display: flex;
    align-items: center;
    gap: 0 1rem;

    h1 {
        flex-grow: 1;
        margin: 10px 0;
    }

    a {
        display: flex;

        img {
            opacity: 1;
            max-width: 130px;
        }
    }

    @media screen and (max-width: 600px) {
        flex-wrap: wrap;
    }
}

p.article-info {
    margin-top: 0;

    @media screen and (max-width: 600px) {
        margin-top: 15px;
    }

    .unlisted-notice {
        border-radius: 5px;
        background-color: #df8e1d;
        color: black;
        padding: 5px 0.5rem;
    }
}

code,
tt,
kbd,
pre {
    font-family: iosevka, monospace;
}

main *:not(pre)>code,
tt,
kbd {
    border-radius: 5px;
    background-color: var(--preformatted-bg-color);
    padding: 1px 0.5rem;
}

pre {
    border-radius: 5px;
    border: 1px solid var(--preformatted-border-color);
    padding: 1rem;
    overflow-x: auto;
}

article {
    padding: 24px 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

blockquote {
    border-left: 0.7em solid black;
    padding: 0.5em 0 0.5em 1em;

    *:first-child {
        margin-top: 0;
    }

    *:last-child {
        margin-bottom: 0;
    }
}

figure {
    background-color: var(--figure-bg-color);
    padding: 5px;
    margin: 0 auto;

    * {
        margin: 0;
    }
}

picture {
    margin: 0 auto;
    display: block;
}

img {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    max-width: 100%;
    height: auto;
    opacity: var(--image-opacity);

    &:hover,
    &:active,
    &:focus {
        opacity: 1;
        transform: scale(1.02);
    }
}

.align-center {
    display: block;
    margin: 0 auto;

    &.figure {
        margin: 1em auto;
        text-align: center;
    }
}

/* image galleries */
table.gallery {
    tr {
        max-width: 60%;

        td {
            vertical-align: middle;

            p {
                margin: 0;
            }
        }
    }
}
div.gallery {
  display: flex;
  flex-direction: horizontal;
  gap: 4px;

  p {
    margin: 0;
  }
}

details:not(.normal-expander) {
    >summary {
        &::marker {
            display: none;
        }

        &::details-marker {
            display: none;
        }

        &:before {
            content: '▶';
        }
    }

    &:open>summary:before {
        content: '▼';
    }
}

details.youtube-expander {
    margin: 1em 0;

    >summary {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        background-color: var(--expander-summary-color);
        padding: 1em;

        svg {
            color: #e52d27;
            font-size: 1.1em;
        }
    }

    div.lite-youtube-fallback {
        background: black;
        padding: 4rem;
        text-align: center;
        font-size: 1.5rem;

        a {
            text-decoration: none;
        }
    }
}

details.advent-of-code-part-expander {
    border: 1px solid #ccc;
    margin: 1em 0;
    padding: 1em;

    >summary {

        h3 {
            display: inline;
        }
    }
}

details.portfolio-item {
    margin-bottom: 1em;

    >summary {
        background-color: var(--expander-summary-color);
        display: grid;
        padding: 0.5rem 1rem 0.5rem 0.75rem;
        gap: 0.2rem 0.5rem;
        grid-template:
            "expander icon title       dates      " auto
            "expander icon description description" auto
            / 1rem 2.5rem auto auto;

        &:before {
            grid-area: expander;
            display: flex;
            align-items: center;
        }

        div.company-logo {
            grid-area: icon;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                opacity: 1;

                &.with-bg {
                    border-radius: 0.5rem;
                    background-color: white;
                }
            }
        }

        h3 {
            grid-area: title;
            margin: 0;
        }

        >span {
            text-align: right;
            grid-area: dates;
            font-size: 0.9em;
            color: var(--subtitle-color);
        }

        p {
            grid-area: description;
            margin: 0;

            i.description-icon {
                margin-right: 0.35rem;
            }
        }

        &:hover {
            div.company-logo img {
                transform: scale(1.2);
            }

            .permalink {
                opacity: 1;
            }
        }
    }

    &.no-logo {
        >summary {
            grid-template:
                "expander title       dates      " auto
                "expander description description" auto
                / 1rem auto auto;
        }
    }

    >div {
        margin-left: 2em;
    }

    @media screen and (max-width: 540px) {
        >summary {
            grid-template:
                "expander icon title      " auto
                "expander icon dates      " auto
                "expander icon description" auto
                / 1rem 2.5rem auto;

            span {
                text-align: left;
            }
        }

        &.no-logo {
            >summary {
                grid-template:
                    "expander title      " auto
                    "expander dates      " auto
                    "expander description" auto
                    / 1rem auto;
            }
        }
    }
}

details.portfolio-more-items {
    margin-bottom: 1em;

    >summary {
        display: flex;
        justify-content: center;

        >div {
            background-color: var(--expander-summary-color);
            border-radius: 0.5rem;
            padding: 0.5rem 2rem;
            cursor: pointer;
            font-weight: bold;
            font-size: 1.1rem;
        }

        &:before {
            content: none;
        }
    }

    &:open>summary {
        display: none;
    }
}

header {
    --image-width: 150px;
    --col-gap: 1rem;

    display: grid;
    gap: 0.6rem var(--col-gap);
    grid-template:
        "name-and-subtitle site-image" auto
        "links site-image" auto
        "nav nav" auto
        / auto var(--image-width);

    a.site-image {
        grid-area: site-image;

        picture {
            width: var(--image-width);
            height: var(--image-width);
        }

        picture,
        img {

            opacity: 1;
            border-radius: 50%;

        }
    }

    .name-and-subtitle {
        grid-area: name-and-subtitle;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;


        .site-title a {
            font-size: 3.5em;
            font-weight: bold;
            text-decoration: none;
            color: var(--fg-color);

            &:active,
            &:hover,
            &:focus {
                color: var(--fg-color);
            }
        }

        .site-subtitle {
            font-size: 1.3rem;
            color: var(--subtitle-color);
        }
    }

    div.links {
        grid-area: links;
        font-size: 1.7em;
        display: flex;
        gap: 0.8em;
        flex-wrap: wrap;

        a {
            text-decoration: none;
            display: flex;
            align-items: center;
        }
    }

    nav {
        grid-area: nav;
        padding: 0.5rem 0;
        border-bottom: 2px solid var(--section-sep-color);

        display: grid;
        grid-template:
            "nav-links . search-link" auto
            "search-container search-container search-container" auto
            / auto 1fr;

        p {
            margin: 0.5rem 0;
        }

        a {
            text-decoration: none;
        }

        .nav-links {
            grid-area: nav-links;
            display: flex;
            align-items: center;
            gap: 0.5rem 1.5rem;
            flex-wrap: wrap;
            font-size: 1.2em;

            a {
                display: flex;
                align-items: center;
                gap: 0.4rem;

                span {
                    line-height: 1.4;
                }


                &:active,
                &:hover,
                &:focus {
                    color: var(--link-active-color);
                }
            }

            .categories-tags-collapsed {
                display: none;
            }

            .posts {
                display: flex;
                gap: 0.3rem;
            }
        }

        @media screen and (max-width: 650px) {
            .nav-links {

                .categories-link,
                .tags-link {
                    display: none;
                }

                .categories-tags-collapsed {
                    display: flex;

                    a:not(:first-child) {
                        margin-left: 0.3rem;
                    }
                }
            }
        }

        @media screen and (max-width: 550px) {
            .nav-links {
                gap: 0.5rem 1rem;
            }
        }

        @media screen and (max-width: 400px) {

            .nav-links>a>svg,
            .nav-links>.posts>a>svg {
                display: none;
            }
        }

        #toggle-search {
            grid-area: search-link;
            text-align: right;
            display: flex;
            align-items: center;
            justify-content: center;

            &.hidden {
                display: none;
            }
        }

        #search-container {
            grid-area: search-container;
            margin: 20px 0;
            text-align: left;

            input[type=search] {
                padding: 8px;
                border: 1px solid var(--search-container-border-color);
                background-color: var(--search-container-bg-color);
                color: var(--search-container-fg-color);
                width: 100%;
            }

            &.hidden {
                display: none;
            }

            #search-results {
                .no-results {
                    text-align: center;
                }

                background-color: var(--search-container-bg-color);
                padding: .5rem 0;

                hr {
                    border: 1px solid var(--search-container-sep-color);
                }

                .search-result {
                    padding: 0 .5rem;
                    margin: .5rem 0;

                    h4 {
                        margin: 0;
                        font-size: 1.1rem;
                    }

                    .categories {
                        margin: 0;
                    }

                    .tags {
                        margin-top: 0;
                    }

                    .content-summary {
                        margin-top: 0.5rem;
                        display: -webkit-box;
                        overflow: hidden;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        line-clamp: 3;
                    }

                    &:hover,
                    &:active {
                        padding-left: .25rem;
                        border-left: .25rem solid var(--search-container-active-indicator-color);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 600px) {
        --image-width: 80px;
        --col-gap: 0.5rem;

        .name-and-subtitle {
            .site-title a {
                font-size: 2rem;
            }

            .site-subtitle {
                font-size: 1rem;
            }
        }
    }
}

dt {
    font-size: 1.15em;
}

dd {
    margin-block-end: 1em;

    p.first {
        margin-top: 0;
    }
}

.docutils.field-list {
    th.field-name {
        text-align: left;
        padding-right: 1em;
    }
}

.next-prev {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    a {
        margin: 1em 0;
    }

    @media screen and (max-width: 600px) {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
}

.related-posts,
.webring,
.comments {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5rem;

        h3 {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }

        .attribution {
            font-size: 0.8rem;
            color: var(--sidebar-attribution-color);
        }
    }

    .articles ul {
        margin: 0;
        padding-left: 1.5rem;
    }
}

footer {
    border-top: 2px solid var(--section-sep-color);
    margin-top: 2em;
    padding-top: 2em;
    text-align: center;

    p:first-child {
        margin-top: 0;
    }
}


table:not(.gallery) {
    table-layout: fixed;
    border-collapse: collapse;

    thead {
        tr {
            border-bottom: 1px solid var(--table-border-color);
        }
    }

    tbody {
        tr {
            &:nth-child(odd) {
                background-color: var(--table-nth-child-bg-color);
            }
        }
    }

    th,
    td {
        padding: 4px 8px;

        &.align-right {
            text-align: right;
        }

        &.border-right {
            border-right: 1px solid var(--table-border-color);
        }
    }
}


.post-summary {
    display: flex;
    align-items: flex-start;
    .summary-image {
        width: 250px;
        margin: 4px 16px 0 0;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .summary-text {
        margin: 0;

        .summary>p:first-child {
            margin-top: 0;
        }
    }

    @media screen and (max-width: 600px) {
        flex-direction: column;

        .summary-image {
            width: 60%;
            margin: 0 auto;
        }
    }

    @media screen and (max-width: 400px) {
        .summary-image {
            width: 100%;
        }
    }
  }


.admonition {
  margin: 1rem 0;
  border-radius: 4px;
  overflow: hidden;
  border-left: 4px solid #096AE1;
  font-size: 1rem;
  .admonition-header {
     display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem 1rem;
    font-weight: bold;
    font-size: 1.1rem;
  }

  .admonition-content {
     background-color: var(--adm-bg);
  color: var(--adm-text);
    padding: 1rem 1rem;
    p:last-child { margin-bottom: 0; }
  }

&.note {
  border-color: var(--adm-note);
  .admonition-header {
    background-color: rgba(var(--adm-note-rgb), var(--adm-header-bg-opacity));
    color: var(--adm-note);
  }
}
&.warning {
  border-color: var(--adm-warning);
  .admonition-header {
    background-color: rgba(var(--adm-warning-rgb), var(--adm-header-bg-opacity));
    color: var(--adm-warning);
  }
}
&.danger {
  border-color: var(--adm-danger);
  .admonition-header {
    background-color: rgba(var(--adm-danger-rgb), var(--adm-header-bg-opacity));
    color: var(--adm-danger);
  }
}
&.tip {
  border-color: var(--adm-tip);
  .admonition-header {
    background-color: rgba(var(--adm-tip-rgb), var(--adm-header-bg-opacity));
    color: var(--adm-tip);
  }
}

}
