@mixin dark-theme{
  --fg-color: #dadada;
  --bg-color: #282828;
  --subtitle-color: #999;

  --link-color: #ef4444;
  --link-active-color: #f87171;
  --link-disabled-color: #909090;

  --button-bg-color: #dadada;
  --button-fg-color: #282828;
  --button-active-bg-color: #fff;
  --button-active-fg-color: #000;

  --figure-bg-color: #ffffff18;
  --preformatted-bg-color: #ffffff18;

  --search-container-bg-color: #1a1a1a;
  --search-container-fg-color: #eee;
  --search-container-sep-color: #000;
  --search-container-active-indicator-color: #ef4444;

  --expander-summary-color: #202020;

  --table-border-color: #fff;
  --table-nth-child-bg-color: #444;

  --adm-bg: #1d1e20;
  --adm-text: #e6e6e6;

  --image-opacity: 0.7;

}

body.dark-theme {
  @include dark-theme;
}

@media (prefers-color-scheme: dark) {
  body {
    @include dark-theme;
  }
}

@media (prefers-color-scheme: dark) {
  body:not(.light-theme) {
    @include dark-theme;
  }
}
