<header>
  <div class="name-and-subtitle">
    <div class="site-title">
      <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <span id="theme-switcher" class="link" style="cursor:pointer">
        <span id="icon-moon">{{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/moon") }}</span>
        <span id="icon-sun" style="display:none">{{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/sun-high") }}</span>
    </span>

    </div>
    {{ with .Site.Params.Subtitle }}
    <div class="site-subtitle">{{ . }}</div>
    {{- end }}
  </div>
  {{ with .Site.Params.logo }}
  <a href="{{ $.Site.Home.Permalink }}" class="site-image">
    {{ $siteImage := resources.Get . }}
    <picture>
      <source type="image/webp" media="(max-width: 600px)" srcset="
            {{ with $siteImage.Resize " 80x webp photo" }}{{ .Permalink }}{{ end }}, {{ with
        $siteImage.Resize "120x webp photo" }}{{ .Permalink }}{{ end }} 1.5x, {{ with
        $siteImage.Resize "160x webp photo" }}{{ .Permalink }}{{ end }} 2x "
        >
        <source type=" image/webp" srcset="
            {{ with $siteImage.Resize " 150x webp photo" }}{{ .Permalink }}{{ end }}, {{ with
        $siteImage.Resize "225x webp photo" }}{{ .Permalink }}{{ end }} 1.5x, {{ with
        $siteImage.Resize "300x webp photo" }}{{ .Permalink }}{{ end }} 2x "
        >
        {{ with $siteImage.Resize " 300x webp photo" }} <img src="{{ .Permalink }}" width="150" height="150"
        alt="{{ $.Site.Title }}">
      {{ end }}
    </picture>
  </a>
  {{ end }}
  <div class="links">

    <a class="replace-email-link" href="mailto:pawanacharya832@gmail.com" target="_blank" title="Email">
      {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/mail") }}
    </a>
    <a href="https://github.com/xyzeep" target="_blank" title="GitHub">
      {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/brand-github") }}
    </a>
    <a href="https://www.linkedin.com/in/pawan0" target="_blank" title="LinkedIn">
      {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/brand-linkedin") }}
    </a>

  </div>
  <nav>
    <div class="nav-links">
      <a href="{{ .Site.Home.Permalink }}/about" title="About">
        {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/user") }}
        <span>About</span>
      </a>
      <a href="{{ .Site.Home.Permalink }}/portfolio" title="Portfolio">
        {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/briefcase") }}
        <span>Portfolio</span>
      </a>
      <div class="posts">
        <a href="{{ .Site.Home.Permalink }}/posts" title="Posts">
          {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/license") }}
          <span>Posts</span>
        </a>
        <div class="categories-tags-collapsed">
          (<a href="{{ .Site.Home.Permalink }}/categories" title="Categories">
            {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/hash") }}
          </a>
          <a href="{{ .Site.Home.Permalink }}/tags" title="Tags">
            {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/tags") }}
          </a>)
        </div>
      </div>
      <a href="{{ .Site.Home.Permalink }}/categories" title="Categories" class="categories-link">
        {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/hash") }}
        <span>Categories</span>
      </a>
      <a href="{{ .Site.Home.Permalink }}/tags" title="Tags" class="tags-link">
        {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/tags") }}
        <span>Tags</span>
      </a>
    </div>
    <div id="toggle-search" class="hidden">
      {{ partial "icons/icon" (dict "vendor" "tabler" "name" "outline/search") }}
    </div>
    <div id="search-container" class="hidden">
      <form class="search" method="get">
        <input id="search-query" type="search" placeholder="Loading..." disabled="disabled">
      </form>
      <div id="search-results">
        <p class="no-results">Enter a search term above</p>
      </div>
    </div>
  </nav>
</header>
