<aside>
	<div>
		<div>
			<h3>LATEST POSTS</h3>
		</div>
		<div>
			<ul>
				{{ range first 5 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
				<li>
					<a href="{{ .RelPermalink }}">{{ .Title }}</a>
					{{ with .Params.categories }}
					in
					{{ range $i, $cat := . }}{{ if $i }}, {{ end }}<a href="{{ "/categories/" | relLangURL }}{{ $cat | urlize }}"> {{ $cat }}</a>{{ end }}
					{{ end }}
					on {{ .Date.Format "02 January 2006" }}
				</li>
				{{ end }}
			</ul>
		</div>
	</div>
</aside>